h1 {    margin-top: -5px;
        text-align:center;
        font-family:Arial Narrow Bold;
        font-style: italic;
        background-color: white;
        }

.col-lg-3 {
float:left;
padding-left:20px;
padding-bottom:20px;
width: 120px;
height: 169px;
}

#tabuleiro {
    width: 560;
    margin:auto;
    display: none;
}


body{
    background-image: url("https://media.istockphoto.com/illustrations/concept-of-board-games-chess-fights-isolated-on-white-background-3d-illustration-id672343806");
    background-size: cover;
} 

img {
width:120px;
height:169px;

}




#botao {
    padding: 15px 10px;
    background-color: rgba(255, 0, 0, 0.884);
    color: seashell;
    margin-left: 550px;
    margin-top: 50px;
    display: none;
    border-radius: 7px;


}

#start {
    padding: 10px 35px;
    background-color: rgba(255, 0, 0, 0.884);
    color: seashell;
    margin-left: 589px;
    margin-top: 50px;
    border-radius: 7px;
    font-size: 25px;
}

#counter {
    margin-top: -10px;
    
    
}



